@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

.green-nebula-bg {
  background-color: #010101;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, black 100%),
    radial-gradient(at 70% 10%, hsla(120, 80%, 40%, 0.4) 0px, transparent 40%),
    radial-gradient(at 25% 35%, hsla(130, 70%, 35%, 0.4) 0px, transparent 40%),
    radial-gradient(at 40% 50%, hsla(160, 60%, 30%, 0.4) 0px, transparent 40%),
    radial-gradient(at 80% 25%, hsla(180, 50%, 25%, 0.4) 0px, transparent 40%),
    radial-gradient(at 10% 75%, hsla(190, 90%, 35%, 0.4) 0px, transparent 40%),
    radial-gradient(at 60% 85%, hsla(170, 80%, 25%, 0.4) 0px, transparent 40%),
    radial-gradient(at 50% 5%, hsla(140, 60%, 20%, 0.4) 0px, transparent 40%),
    radial-gradient(at 90% 60%, hsla(110, 70%, 30%, 0.4) 0px, transparent 40%);
  animation: pulse 20s infinite ease-in-out;
}

.subtle-colorful-bg {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, black 100%),
    radial-gradient(at 71% 10%, hsla(20, 70%, 50%, 0.1) 0px, transparent 40%),
    radial-gradient(at 24% 15%, hsla(340, 60%, 50%, 0.1) 0px, transparent 40%),
    radial-gradient(at 20% 12%, hsla(260, 60%, 50%, 0.1) 0px, transparent 40%),
    radial-gradient(at 21% 18%, hsla(300, 40%, 50%, 0.1) 0px, transparent 40%),
    radial-gradient(at 41% 5%, hsla(100, 80%, 50%, 0.1) 0px, transparent 40%),
    radial-gradient(at 42% 8%, hsla(220, 70%, 50%, 0.1) 0px, transparent 40%),
    radial-gradient(at 90% 12%, hsla(180, 80%, 50%, 0.1) 0px, transparent 40%);
}

.alert-success {
  background-color: #051B11;
  border: 1px solid #0F5132;
  color: #75B798;
}
.alert-error {
  background-color: #2C0B0E;
  border: 1px solid #842029;
  color: #EA868F;
}
.alert-warning {
  background-color: #332701;
  border: 1px solid #997404;
  color: #FFCD39;
}
.alert-info {
  background-color: #012530;
  border: 1px solid #055160;
  color: #6EDFF6;
}

/* For Firefox Browser */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.8) rgba(0, 0, 0, 0.6);
}

/* For Chrome, EDGE, Opera, Others */
.scrollbar::-webkit-scrollbar {
  width: 20px;
}

.scrollbar::-webkit-scrollbar-track { 
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb { 
  background:#000;
}

/* Sliders */

.slider {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 2px;
  background: linear-gradient(
    to right,
    var(--fill-color) 0%,
    var(--fill-color) var(--progress-percent),
    var(--track-color) var(--progress-percent),
    var(--track-color) 100%
  );
  transition: all 0.15s ease;
}

/* WebKit (Chrome, Safari) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumb-width);
  height: var(--thumb-height);
  border-radius: var(--thumb-radius);
  background: var(--thumb-color);
  cursor: pointer;
  position: relative;
  z-index: 2;
}

/* Firefox */
.slider::-moz-range-thumb {
  width: var(--thumb-width);
  height: var(--thumb-height);
  border-radius: var(--thumb-radius);
  background: var(--thumb-color);
  cursor: pointer;
}

/* Edge / IE */
.slider::-ms-thumb {
  width: var(--thumb-width);
  height: var(--thumb-height);
  border-radius: var(--thumb-radius);
  background: var(--thumb-color);
  cursor: pointer;
}

.slider-hide-thumb::-webkit-slider-thumb {
  opacity: 0;
  transition: opacity 0.15s ease;
}

.slider-hide-thumb:hover::-webkit-slider-thumb {
  opacity: 1;
}

.slider-hide-thumb::-moz-range-thumb {
  opacity: 0;
  transition: opacity 0.15s ease;
}

.slider-hide-thumb:hover::-moz-range-thumb {
  opacity: 1;
}

.slider-hide-thumb::-ms-thumb {
  opacity: 0;
  transition: opacity 0.15s ease;
}

.slider-hide-thumb:hover::-ms-thumb {
  opacity: 1;
}